.events-selectors {
    display: flex;
    justify-content: space-between;
}

.events-view-selector {
    width: 165px;
}

.events-type-selector{
    width: 240px;
}

.zip-input {
    font-family: @content-font;
    width: 75px;

    input[type='number'] {
    -moz-appearance:textfield;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }

    .ant-input-suffix {
        color: @grey
    }
}
