.toolbar {
    display: flex;
    justify-content: center;

    .header {
        width: 100%;
        &.desktop {
            max-width: 720px;
        }
    }
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 26px;
    padding-top: 10px;
    &.mobile {
        padding-bottom: 10px;
    }
    
    .MuiSvgIcon-root{
        font-size: 26px;
    }
}

.navigation {
    color: @header-black;
    font-family: "Graph Condensed";
    font-weight: bold;
    font-size: 26px;
    text-transform: uppercase;
    border-bottom: none;

    &.desktop {
        text-align: center;
    }
    &.mobile {
        text-align: inherit;
    }

    &:hover {
        border-bottom: none;
    }

    a {
        color: @header-black;
    }

    a:hover{
        color: @header-secondary;
    }

    .selected {
        a {
            background-image: linear-gradient(120deg, @header-secondary 0%, @header-secondary 100%);
            background-repeat: no-repeat;
            background-size: 120% 0.5em;
            background-position: 0 90%;
        }

        a:hover {
            color: @header-black !important; 
            cursor: default;
        }
    }

    .donate {
        margin-top: 6px;
        margin-left: -6px;
        span {
            border: 3px solid @header-secondary;
        }
        box-sizing: border-box;
        padding: 6px;
    }
}

.submenu {
    font-family: @title-font;
    font-weight: bold;
    font-size: 26px;
    padding-top: 10px;

    &.desktop{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-top: 10px;
        .contribution-container {
            &:not(:last-child){
                padding-right: 80px;
            }
        }
    }

    .contribution-container {
        &.languages {
            width: 120px;
        }
        .selector {
            font-size: 26px;
            line-height: 26px;
        }
    }

    &.mobile{
        display: unset;
        .contribution-container {
            padding-top: 20px;
        }
    }

    .MuiSvgIcon-root{
        font-size: 26px;
    }
}

.drawer-right {
    width: 200px;
    background-color: @header-background !important;
    padding-left: 20px;
}