
.timeline {

    .timeline-svg {

        .date-container {
            font-family: Graph Condensed;
            font-weight: bold;
            font-size: 3rem;
            text-align: center;
            fill: @content-gray;
        }

        .info-container {
            font-family: Graph Condensed;
            font-weight: bold;
            text-align: center;
            fill: @content-gray;

            .title {
                font-size: 2.25rem;
            }
            .description {
                font-family: Klima;
                font-size: 1.125rem;
            }
            .button {
                cursor: pointer;
                fill: @content-title;
            }
        }

        circle {
            fill: @content-turqoise;
        }
    }

    .line  {
        stroke-width: 2px;
        stroke: @content-gray;
        fill: none;
    }

    .line.before-today {
        stroke-dasharray: 5px, 5px;
    }
}

.div-timeline {
    padding-top: 50px;
    height: 30rem;
    width: 95%;
    overflow-y: scroll;

    .timeline-event {
        color: @content-gray;

        .timeline-date {
            font-family: Graph Condensed;
            font-weight: bold;
            font-size: 3rem;
            text-align: center;
        }
        .timeline-circle-container {
            // check https://stackoverflow.com/questions/34888571/drawing-dotted-lines-and-straight-lines-as-background-of-div
            // here https://stackoverflow.com/questions/2771171/control-the-dashed-border-stroke-length-and-distance-between-strokes/31315911#31315911
            // or here https://stackoverflow.com/questions/32500570/gradient-line-with-dashed-pattern
            &.before-today {
                background-image: linear-gradient(to bottom, black 50%, transparent 50%);
                background-size: 3% 10px;
                background-repeat: repeat-y;
            }
            &.today, &.after-today{
                background-image: linear-gradient(to left, black 2px, transparent 1%);
            }
            background-position-x: 2rem;
            
            .timeline-circle {
                border-radius: 50%;
                background-color: @content-turqoise;
                min-height: 4rem;
                max-height: 4rem;
                min-width: 4rem;
                max-width: 4rem;
            } 
        }

        .button {
            cursor: pointer;
            color: @content-title;
        }
    }
}
